{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %} {{ team['title'] }} {% endblock %}</h1>
    <a class="action" href="{{ url_for('task.create', team_id=team['id']) }}">New Task</a>
{% endblock %}

{% block content %}
    {% for task in tasks %}
        <div>
            <h1>{{ task['title'] }}</h1>
            <p>ID: {{ task['id'] }}</p>
            <p>team ID: {{ task['team_id'] }}</p>
            <p>team: {{ team['title'] }}</p>
        </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}