{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %} {{ team['title'] }} {% endblock %}</h1>
    <a class="btn" href="{{ url_for('task.create', team_id=team['id']) }}">New Task</a>
    <form style="width:20%; align-items: flex-end;" action="{{ url_for('team.user_leave', team_id=team['id']) }}" method="post">
        {% if team['owner_id'] != g.user['id'] %}
            <input class="btn btn-danger vert-auto" type="submit" value="Leave" onclick="return confirm('Do you really want to leave?');">
        {% endif %}
    </form>
{% endblock %}

{% block content %}
    <div style="display: flex; flex-direction:row;">
        <div style="flex: auto;">
            {% for task in tasks %}
                <div>
                    <h2>{{ task['title'] }}</h2>
                    <p>ID: {{ task['id'] }}</p>
                    <p>team ID: {{ task['team_id'] }}</p>
                    <p>team: {{ team['title'] }}</p>
                    <form action="{{ url_for('task.delete', team_id=team['id'], task_id=task['id']) }}" method="post">
                        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                    </form>
                </div>
                {% if not loop.last %}
                <hr>
                {% endif %}
            {% endfor %}
        </div>
        <div style="box-sizing: border-box; width: 20%; border-left: 1px solid lightgray; padding-left:1rem;">
            {% if team['owner_id'] == g.user['id'] %}
                <form action="{{ url_for('team.add_user', id=team['id']) }}" method="post">
                    <label class="input-label" for="username">Username</label>
                    <input class="form-control" name="username" id="username" value="{{ request.form['username'] }}" required>
                    <input class="btn btn-primary" type="submit" value="Add">
                </form>
                <hr>
            {% endif %}
            <div>
                {% for user in users %}
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div><p>{{ user['username'] }}</p></div>
                        {% if team['owner_id'] == g.user['id'] %}
                            <form action="{{ url_for('team.delete_user', team_id=team['id'], user_id=user['id']) }}" method="post">
                                <input class="danger" type="submit" value="Delete" onclick="return confirm('Do you really want to remove the user?');">
                            </form>
                        {% endif %}
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
{% endblock %}