{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Teams{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('team.create') }}">New Team</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for team in teams %}
    <div>
        <h1 class="task-title"><a class="action" href="{{ url_for('team.open_team', id=team['id'])}}">{{ team['title'] }}</a></h1>
        <p>ID: {{ team['id'] }}</p>
        <p>Owner: {{ team['owner_id'] }}</p>
        {% if team['owner_id'] == g.user['id'] %}
          <p>Your role: <b>owner</b> </p>
          <form action="{{ url_for('team.delete', id=team['id']) }}" method="post">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Do you want to delete the team?');">
        </form>
        {% else %}
          <p>Your role: member </p>
        {% endif%}
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}