{% extends 'base.html' %}

{% block header %}
    <h1 style="padding-left: 0.5rem; font-size: 2rem;">{% block title %}Teams{% endblock %}</h1>
    {% if g.user %}
        <a class="btn btn-secondary" href="{{ url_for('team.create') }}">New Team</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="teams">
    {% for team in teams %}
        <div class="team">
            <h1><a class="action" href="{{ url_for('team.open_team', id=team['id'])}}">{{ team['title'] }}</a></h1>
            <p>ID: {{ team['id'] }}</p>
            <p>Owner: {{ team['owner_id'] }}</p>
            {% if team['owner_id'] == g.user['id'] %}
                <p>Your role: <b>owner</b> </p>
                <form action="{{ url_for('team.delete', id=team['id']) }}" method="post">
                    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Do you want to delete the team?');">
                </form>
            {% else %}
                <p>Your role: member </p>
            {% endif%}
        </div>
    {% endfor %}
    </div>
{% endblock %}