body { 
    max-width: 1200px; 
    margin: 0 auto; 
    background: white;
}
h1 { 
    color: #377ba8; 
    margin: 1rem 0; 
}
a{ 
    text-decoration: none; 
    color: #377ba8; 
}
hr {
    border: none; 
    border-top: 1px solid lightgray; 
}
.headnav { 
    height: 80px;
    background: linear-gradient(90deg, #7f7eff, #a390e4);
    display: flex;
    align-items: center;
    padding: 0 0.5rem; 
}
.headnav h1{
    flex: auto; 
    margin: 0;
    padding: 0 0.5em; 
}
.headnav ul  { 
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
.headnav h1 a{
    color: white;
    font-size: 4rem; 
    font-weight: bold;  
}
.headnav ul li a, header .action { 
    display: block; 
    padding: 0.5rem; 
}
.one-of-two, .two-of-two{
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
}
.one-of-two{
    border-color: white;
}
.two-of-two{
    background: white;
    color: #a390e4
}