html { 
    font-family: "Segoe UI", sans-serif; 
    background: #eee;
}


body { 
    max-width: 1250px; 
    margin: 0 auto; 
    background: white;
}
h1 { 
    color: #377ba8; 
    margin: 1rem 0; 
}
a{ 
    text-decoration: none; 
    color: #377ba8; 
}
hr {
    border: none; 
    border-top: 1px solid lightgray; 
}
.headnav { 
    height: 80px;
    background: linear-gradient(90deg, #7f7eff, #a390e4);
    display: flex;
    align-items: center;
    padding: 0 0.5rem; 
}
.headnav h1{
    flex: auto; 
    margin: 0;
    padding: 0 0.5em; 
}
.headnav ul  { 
    display: flex; 
    list-style: none; 
    margin: 0 0.7rem; 
    padding: 0; 
}
.headnav h1 a{
    color: white;
    font-size: 4rem; 
    font-weight: bold;  
}
header .action { 
    display: block; 
    padding: 0.5rem; 
}
.one-of-two, .two-of-two{
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}
.one-of-two{
    border-color: white;
}
.two-of-two{
    background: white;
    color: #a390e4
}
.teams{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    
}
.team{
    width: 300px;
    padding: 0 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #ccc;
}
.btn{
    cursor: pointer;
    border: none;
    border-radius: 0.3em;
    line-height: 2.5;
    display: block;
    padding: 0 0.8em;
    text-align: center;
    font-size: 1rem;
    width: fit-content;
}
.btn-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-secondary{
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}
.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.input-label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-group{
    margin: 1em 1em 0;
}
.form-control{
    box-sizing: border-box;
    display: block;
    max-width: 600px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.vert-auto{
    margin-top: auto !important;
    margin-bottom: auto !important;   
}
.users-bar{
    border: 1px solid #aaa;
}