.row{
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 1em;
    margin-bottom: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-succes{
    background-color: #28a745;
    background-image: none;
    border:none;
    color: white;
}
.row-secondary{
    background-color: #8f969c;
    background-image: none;
    border:none;
    color: white;
}